<!-- Template Driven Form for Login and to Register new users -->
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">

          <!-- header -->
          <h2>TO-DO!</h2>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Email address</label><br>
            <input type="email" name="email" ngModel id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address" required email/>

          </div>
          <br>
          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password</label><br>
            <input type="password" name="password" minlength="8"  ngModel id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password" />

          </div>
          <!-- Submit button -->
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Log In</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink="/register"
                routerLinkActive="active" class="link-danger">Register</a>
            </p>
          </div>
          <!-- Add image to Page -->
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
              class="img-fluid" alt="Sample image">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
